


section.calendar
{
	width:768px;
	min-height:549px;
	margin:auto;
	background-image:url('../../assets.images/calendar.png');
	background-position:top left;
	background-repeat:no-repeat;
	background-size:contain;
	position:relative;
	top:50%;
	transform:translateY(-50%);
	background-color:white;
}


section.calendar > section
{
	position:relative;
	padding-left:17px;
	padding-top:38px;
	overflow:hidden;
}

section.calendar > section > div
{
	color:var(--DarkGrey);
	float:left;
	width:102px;
	height:96px;
	background-color:#eee;
	border-left:3px solid gray;
	border-bottom:3px solid gray;
	transition-duration:250ms;
	transition-property:background-color;
	position:relative;
}

section.calendar > section > div > section
{
	height:100%;
	overflow:auto;	
}

section.calendar > section > div > section > article
{
	font-size:x-small;
	line-height:1;
	padding:.5em;
	margin:.5em;
	border-radius:.5em;
	background-color:var(--CodelittRed);
	cursor:pointer;
}

section.calendar > section > div > section > article:first-of-type
{
	position:relative;
	width:60%;
	left:2.2em;
}

section.calendar > section > div > section > span
{
	display:none;
	position:absolute;
	padding:.25em;
	left:4px;
	top:2px;
	z-index:2;
}

section.calendar > section > div.active > section > span
{
	display:block;
}

section.calendar > section > div.active
{
}

section.calendar > section > div.active:hover
{
	background-color:var(--CodelittBlue);
}




