




header.main
{
	padding:2em;
	background-color:var(--CodelittBlue);	
	text-align:center;
	color:white;
}

header.main > span
{
	animation-name:appear;
	animation-duration:1000ms;	
	font-size:1.5em;
}

@keyframes appear
{
	from
	{
		opacity:0;
	}
}

header.main::before
{
	content:"https://github.com/veraszto/ReactJSCalendar2022";
	position:absolute;
	top:.5em;
	right:.5em;
	font-size:.75em;
	white-space:nowrap;
}
