
:root, #root
{
	height:100%;
	--DarkGrey:#222;
	--CodelittRed: #FF465D;
	--CodelittPurple: #BC46BA;
	--CodelittBlue:#3BC6FB;
	--SharpEmphasis:var(--CodelittPurple);
}

body
{
	background-color:var(--DarkGrey);
	color:white;
	height:100%;
}

.main-cont
{
	height:100%;
	display:flex;
	flex-direction:column;
}

.main-cont > .calendar-container
{
	position:relative;
	overflow:auto;
	flex:1;
}
